<!DOCTYPE html>
<html>
<head>
  <title>Routehunters</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "RouteHunters", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
       <%= link_to "Create route", new_route_path, class: "navbar-text navbar-link navbar-right" %>
    </div>
  </div>
</nav>

  <%= yield %>

</body>
</html>
